<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zdsc.dao.ScpxVO" >


    <select id="findPage" resultType="zdsc.model.Scpx">
        select introduction,exam from scpx where delflag = 0
    </select>


</mapper>
